html,
body {
	margin: 0;
	padding: 0;
	text-align: center;
}

.accordion-panel {
	display: none;
}

.tab-panel.active {
	display: block;
}

ul.accordion {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.accordion-button {
	background-color:lightgreen;
	padding: 10px;
	display: block;
	width: 50%;
	margin : 0 auto;
	font-weight: bolder;
}

.accordion-panel {
	display: none;
	padding: 5px;
	border: 2px solid lightslategray;
	width: 49%;
	margin: 0 auto;
	font-weight: bolder;
}

ul.tab-list {
    padding-inline-start: 0px;
}

ul.tab-list li {
	display: inline-block;
	padding: 10px;
	border: 3px solid black;
}

a:link {
	color: black;
	text-decoration: none;
}

ul.tab-list li.active {
	background-color: cadetblue;
}

ul.tab-list li.active a {
	color: white;
}

.tab-panel {
	display: none;
	width: 200px;
	height: 130px;
	padding: 10px;
	border: 5px solid black;
  	margin: 0 auto;
}

.tab-panel.active {
	display: block;
}
#references{
	text-decoration: underline;
}